.bg-veine {
    background-color: #457EFF;
}

.main-body {
    margin: 4rem 0 4rem 0;
}

/* ---------------------------------------------------------------------------------------- */
/* ERRORS CSS */
/* ---------------------------------------------------------------------------------------- */
.msg-error {
    height: 1.5rem;
    font-size: 0.8rem;
}

.txt-screen {
    font-size: 4rem;
    font-weight: bolder;
}

.top-phone {
    height: 3rem;
}

.bottom-phone {
    height: 5rem;
}

/* --------------------------------------------------------------------------------------------- */
/* NAVBAR CSS */
/* --------------------------------------------------------------------------------------------- */
.play-btn {
    font-size: 3rem;
}

.nav-btn {
    font-size: 2rem;
    padding: 1rem;
}

/* ------------------------------------------------------------------------------------------------- */
/* CONTACT CSS */
/* ---------------------------------------------------------------------------------------------------- */
.title-contact {
    font-size: 0.9rem;
    font-weight: bolder;
    padding-top: 0.4rem;
    height: 1rem;
    text-transform: uppercase;
}

.title-forms {
    font-size: 0.9rem;
    font-weight: bolder;
    padding-top: 0.4rem;
    height: 1rem;
    text-transform: uppercase;
}

.icon-title {
    padding-right: 0.8rem;
    font-size: 1rem;
}

.btn-contact {
    width: 3rem;
    margin: 0.1rem;
}

/* -------------------------------------------------------------------------------------------------------- */
/* bottom div pour le scroll */
/* -------------------------------------------------------------------------------------------------------- */
.bottom-div {
    height: 5rem;
}

/* -------------------------------------------------------------------------------------------------------- */
/* bets css */
/* -------------------------------------------------------------------------------------------------------- */
.big-hour {
    font-size: 8rem;
}
.big-date {
    font-size: 2rem;
}

/* -------------------------------------------------------------------------------------------------------- */
/* stepper css */
/* -------------------------------------------------------------------------------------------------------- */
.stepper-badge {
    font-size: 1.1rem;
}